<a href="https://colab.research.google.com/github/jirachaya-bam/Data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'จิรัชญา'
surname = 'ฟองฟูม'
ID = '613020038-0'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ จิรัชญา นามสกุล ฟองฟูม รหัส 613020038-0

Function

ทำหน้าที่รับ input มาประมวลผลออกเป็น output

f(x) = y โดยที่ x คือ input

y คือ output

def คือ การกำหนดฟังก์ชัน

In [ ]:
def function_name(_Input_) :
  do_something with _Input_ to get _Output_
  return _Output_

SyntaxError: ignored

backtick(`)==>กด ~ ค้าง,alt-9>6(full keyboard with number) 

tilde (~)

curly brackey ({})

square bracket ([])

function มีส่วนสำคัญ 4 ส่วน

  1.บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def funtion_name():(ขาดไม่ได้)

  2.กำหนดตัวแปรที่จะเป็น input *Input* (ขาดไม่ได้)

  3.ส่วนประมวลผล do_something with *Input* to get Output(ขาดไม่ได้)

  4.ส่วน output return *Output*(ขาดได้)

ตัวอย่างการเขียน normal function

In [ ]:
def print_name(name,surname,ID) :
  sr = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('ฟองฟูม','6130200380','จิรัชญา' )

NameError: ignored

In [ ]:
print(print_name(name='จิรัชญา',surname='ฟองฟูม',ID='6130200380'))

NameError: ignored

ใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม



สามารถเพิ่มคำสั่งเข้าไปในฟังก์ชันได้อีก โดยการเปลี่ยนคำสั่ง return เป็นprint()เช่น ตัวอย่างดังี้ ได้ทำการเพิ่ม st2 =

In [ ]:
def print_name2(name,surname,ID) :
     st2 = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     print(st2)

In [ ]:
print_name2(name='จิรัชญา',surname='ฟองฟูม',ID=6130200380)

ชื่อ จิรัชญา นามสกุล ฟองฟูม รหัส 6130200380

ในฟังก์ชันไม่จำเป็นต้องมี Input

In [ ]:
def Pi() :
     return 3.14159265359

สามารถกำหนดค่า default ให้กับฟังก์ชันได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default) เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='A') :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print (st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [ ]:
print_2lines_default('จิรัชญา','ฟองฟูม','6130200380')

ชื่อ จิรัชญา นามสกุล ฟองฟูม รหัส 6130200380
เกรดวิชา Data Viz >>> A

LOOP คือ การวนซ้ำ


for เป็นคำที่ใช้บอก python ว่ากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก listA มาทำ process do_something

In [ ]:
for each_member in listA :
        do_something

NameError: ignored

คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {0}')

this member = 1 after process = 0
this member = 2 after process = 0
this member = 3 after process = 0

ตัวอย่่างการใช้คำสั่ง for ในการวนซ้ำ i

In [ ]:
for i in 'Jirachaya' :
          print(f'{i} -> / ' )

J -> /
i -> /
r -> /
a -> /
c -> /
h -> /
a -> /
y -> /
a -> /

In [ ]:
for i in 'Jirachaya' :
      print(f' {i} -> / ' ,end = ' ,') #สั่งให้ print แบบ ไม่เว้นวรรค

 J -> /  , i -> /  , r -> /  , a -> /  , c -> /  , h -> /  , a -> /  , y -> /  , a -> /  ,

สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100) :
      print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

loop in loop
สามารถใช้ for loop ซ้อนกันสองรอบได้

In [ ]:
for name1 in range(2,5): #(2, 3, 4)
     print(f'now name1 [ {name1} ')
     for name2 in range(1,13):
        print(name1,' x ' ,name2, ' = ' ,name1*name2)

now name1 [ 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
now name1 [ 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
now name1 [ 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48

In [ ]:
def print_feelings(I,friends,feeling  =  'คิดถึง') :
    for friend in friends :
      print(f'{I}  {feeling}  {friend} ' )

In [ ]:
list_friends = ['เตย' , 'หวาน' , 'ปุ๋ย' , 'เบล' , 'ปลื้ม']

In [ ]:
print_feelings('แบม' ,list_friends)

แบม  คิดถึง  เตย
แบม  คิดถึง  หวาน
แบม  คิดถึง  ปุ๋ย
แบม  คิดถึง  เบล
แบม  คิดถึง  ปลื้ม

condition เงื่อนไข

In [ ]:
if condition1 :
      do someting
elif condition2 :   #elif  คือ else if
      do another thig
else:
      do ...

In [ ]:
for name1 in list_friends :
      for name2 in list_friends :
        if name1 ==  name2:    #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
        print(name1, 'คิดถึง' ,name2)

IndentationError: ignored

In [ ]:
for name1 in list_friends :
      for name2 in list_friends :
        if name1 ==  name2:    #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
        'do nothing'
        print(name1, 'คิดถึง' ,name2)

IndentationError: ignored

==,!=,>=,<=,<,>

In [ ]:
'แบม' == 'เตย'

False

In [ ]:
'แบม' != 'เตย'

True

#HW

###เขียน function  ตัดเกรด โดยที่ input เป็นคะแนน(0-100),output  เป็นเกรด (F-A)นลูบตัดเกรด input = [1,50,65,90,101,-5,49]

กำหนด

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+

ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A

แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [3]:
list_grade = [1,50,65,90,101,-5,49]

In [4]:
def grade (score) :
  if 0 <= score< 50 :
    print(f'ได้คะแนน {score} จะได้เกรด F ')
  elif 50 <= score< 55 :
    print(f'ได้คะแนน {score} จะได้เกรด D ')
  elif 55 <= score< 60 :
    print(f'ได้คะแนน {score} จะได้เกรด D+ ')
  elif 60 <= score< 65 :
    print(f'ได้คะแนน {score} จะได้เกรด C ')
  elif 65 <= score< 70 :
    print(f'ได้คะแนน {score} จะได้เกรด C+ ')
  elif 70 <= score< 75 :
    print(f'ได้คะแนน {score} จะได้เกรด B ')
  elif 75 <= score< 80 :
    print(f'ได้คะแนน {score} จะได้เกรด B+ ')
  elif 80 <= score< 100 :
    print(f'ได้คะแนน {score} จะได้เกรด A ')
  else:
    print(f'ได้คะแนน {score} จะได้เกรด error ')

In [5]:
for i in list_grade :
  (grade(i))

ได้คะแนน 1 จะได้เกรด F
ได้คะแนน 50 จะได้เกรด D
ได้คะแนน 65 จะได้เกรด C+
ได้คะแนน 90 จะได้เกรด A
ได้คะแนน 101 จะได้เกรด error
ได้คะแนน -5 จะได้เกรด error
ได้คะแนน 49 จะได้เกรด F